@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/PoppinsRegular-B2Bw.otf');
}

@font-face {
    font-family: 'Gallient';
    src: url('./assets/fonts/Gallient.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-dark: #121212;
    --clr-white: #fff;
    --clr-gradient: linear-gradient(100.25deg, #FF3030 16.12%, #7682B3 65.23%, #C662AA 163.44%, #27B1FF 212.54%);;
    --clr-gradient-1: #FF3030;
    --clr-gradient-2: #7682B3FF;
    --fw-normal: 400;
    --fw-bold: 600;
    --fw-black: 900;
}

html, #root, #App {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: auto;
}

html, body, #app, #app > div {
    height: 100%;
}

a {
    text-decoration: none;
    text-underline: none !important;
    color: inherit;
}

#root {
    display: flex;
}

#App {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    line-height: 1.25;
    color: var(--clr-white);
    background-color: var(--clr-dark);
    background-image: url("./assets/img/ellipse-2@1x.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

#home {
    background-image: url("./assets/img/rectangle-3@1x.svg"),
    url("assets/img/Rectangle-1-eye-cover.svg"),
    url("./assets/img/aldo-sadewo-c8byy2s4s-c-unsplash-copie-1@1x.png"),
    url("./assets/img/vector@2x.svg"),
    url("./assets/img/number.svg"),
    url("assets/img/Rectangle-2-top-right.svg"),
    url("./assets/img/vector-1@1x.svg"),
    url("./assets/img/vector-2@1x.svg"),
    url("./assets/img/ellipse-1@1x.svg");
    background-repeat: no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
    background-position: center bottom -8px,
    center bottom 555px,
    center bottom,
    right 23% bottom 565px,
    right 10% bottom 615px,
    right bottom 595px,
    right bottom 330px,
    right bottom -311px,
    bottom left;
}

/** BackGround **/
#background {
    pointer-events: none !important;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block !important;
    z-index: 999;
    background-image: url("./assets/img/Rectangle-Fullscreen-Noise-1.svg"), url("./assets/img/Rectangle-Fullscreen-Noise-1.svg");
    background-repeat: repeat, repeat;
}

/**   Navbar   **/
nav {
    background: transparent;
    width: 100% !important;
    padding-bottom: 0 !important;
}

#logo-text {
    font-family: 'Gallient', serif;
    font-size: 44px;
    line-height: 58.4px;
    color: #FFFFFF;
    padding-left: 10%;
}

.nav-list {
    margin-left: 17%;
    display: flex;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: var(--fw-normal);
    justify-content: space-between;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: var(--fw-normal);
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 19.9px;
    opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    font-weight: var(--fw-bold);
    opacity: 1;
}

.navbar-text {
    padding-left: 17.8%;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19.9px;
    line-height: 29.8px;

    color: #FFFFFF;
    opacity: 0.8;
}

.navbar-text span {
    color: var(--clr-white);
}

.navbar-text img {
    padding-left: 0.4rem;
}

.navbar-text:hover img {
    padding-left: 1rem;
    transition: ease-in-out;
    transition-duration: 500ms;
}

/** Horizontal line **/
#imgHorizontalLine {
    width: 100%;
}

/** Home **/

#home {
    display: block;
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.home-text-upper {
    width: 100% !important;
    display: inline-block;
    margin-bottom: 5%;
}

.home-text-upper-left {
    margin: 0 !important;
    padding: 8.5% 15% 0 6% !important;
    width: 50% !important;

    float: left;
}

.home-text-upper-left .paragraph-title {

    font-family: 'Gallient', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72.9px;
    line-height: 105.4px;
}

.home-text-upper-left .paragraph-text {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14.5px;
    line-height: 20.6px;
    text-align: justify;
    margin-bottom: 54px;
}

.home-text-upper-left .buttons {
    display: inline-block;
}

#arrow-box {
    display: flex;
    position: relative;
    vertical-align: center;
    align-items: center;
    width: 75px;
    height: 122px;
    background: url("./assets/img/Rectangle-Arrow.svg") no-repeat;
    transition: 0.3s ease-in-out;
    float: left;
    margin-right: 12px;
}

#arrow {
    height: 43px;
    width: 100%;
    z-index: 2;
    background: CENTER url("./assets/img/arrow-1@2x.svg") no-repeat;
    transition: all .3s ease-in-out;
}

#arrow-box:hover #arrow {
    margin-top: 18%;
}

#learn-more a {
    width: 100%;
    text-align: center;

    vertical-align: middle;
}

#learn-more {
    display: flex;
    width: 240px;
    height: 122px;
    position: relative;
    vertical-align: middle;
    align-items: center;
    background: url('./assets/img/Rectangle-upper-left-gradient-learn-more.svg') center center no-repeat;
}

.home-text-upper-left a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21.7px;
    line-height: 31.6px;
}

.home-text-upper-right {
    padding: 8.5% 6.3% 0 0 !important;
    width: 50% !important;
    /*
    background: red;
    */
    float: right;
    display: flow;
    font-family: 'Gallient', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 67.284px;
    line-height: 96.3px;
    text-align: center;
    vertical-align: center !important;
    horiz-align: center;
}

.home-text-upper-right img {
    float: right;
}

.home-text-upper-right p {
    width: 164.32px;
    height: 150.4px;
    float: right;
    padding: 26px 0;
    margin: 0 0 0 5%;
}

.home-text-lower {
    width: 100% !important;
    display: inline-block;

    padding-right: 9.5%;
}

.home-text-lower-right a {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 17.6631px !important;
    line-height: 26px !important;

    margin-right: 8.6% !important;
    margin-top: 7% !important;
}

.home-text-lower-right .paragraph-title {
    font-family: 'Gallient', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 62.5309px;
    line-height: 89px;
}

.home-text-lower-right {
    display: flex;
    flex-direction: row-reverse;
}

.home-text-lower-right > .paragraph {
    order: 1;
}

.home-text-lower-right > a {
    order: 2;
}

.home-text-lower-right p {
    width: 201.49px;
    height: 150.54px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10.0358px;
    line-height: 18px;
    text-align: justify;
}
